{%
 set classes = [
    'layout',
    'layout--fourcolumn',
]
 %}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        {% if content.top_left %}
            <div class="layout__region layout__region--top">
                {{ content.top_left }}
            </div>
        {% endif %}
        {% if content.top_right %}
            <div class="layout__region layout__region--top">
                {{ content.top_right }}
            </div>
        {% endif %}
        {% if content.bottom_left %}
            <div class="layout__region layout__region--first">
                {{ content.bottom_left }}
            </div>
        {% endif %}
        {% if content.bottom_right %}
            <div class="layout__region layout__region--second">
                {{ content.bottom_right }}
            </div>
        {% endif %}
    </div>
{% endif %}